<footer class="gsm-footer gsm-slot">
  <div class="gsm-slot-inner">
    <div class="left">
      &copy; 2015 Guild Sports Management, LLC
    </div>
    <div class="right">
      <a href="#" class="modal-trigger" data-modal-name="privacy-policy">
        Privacy Policy
      </a>
    </div>
  </div>
</footer>

<div class="modal" id="modal-privacy-policy">
  <div class="content">
    <p>We may collect information about your computer, including your IP address, operating system and browser type, for system administration and in order to create reports. This is statistical data about our users’ browsing actions and patterns, and does not identify any individual. </p>
    <p>The only cookies in use on our site are for Google Analytics. Google Analytics is a web analytics tool that helps website owners understand how visitors engage with their website. Google Analytics customers can view a variety of reports about how visitors interact with their website so that they can improve it. </p>
    <p>Like many services, Google Analytics uses first-party cookies to track visitor interactions as in our case, where they are used to collect information about how visitors use our site. We then use the information to compile reports and to help us improve our site. </p>
    <p>Cookies contain information that is transferred to your computer’s hard drive. These cookies are used to store information, such as the time that the current visit occurred, whether the visitor has been to the site before and what site referred the visitor to the web page. </p>
    <p>Google Analytics collects information anonymously. It reports website trends without identifying individual visitors. You can opt out of Google Analytics without affecting how you visit our site – for more information on opting out of being tracked by Google Analytics across all websites you use, visit this <a href="http://tools.google.com/dlpage/gaoptout">Google page</a>.</p>
    <p>This page has been created with free resources from <a href="http://www.cookieclarity.com/">Cookie Clarity</a>. </p>

    <a class="modal-close" href="#">
      <i class="icon remove black"></i>
    </a>
  </div>
</div>
