<header class="gsm-header">

  <!-- DESKTOP -->
  <div class="desktop-only">
    <div class="logo">
      <a class="guild" href="#slot-about">
        GUILD<br>SPORTS<br>MANAGEMENT
      </a>
    </div>

    <ul class="gsm-navlist">
      <li class="listitem">
        <a href="#slot-founders" class="navlist-link">
          <i class="dashboard icon"></i>Founders
        </a>
      </li>
      <li class="listitem">
        <a href="#slot-business" class="navlist-link">
          <i class="suitcase icon"></i>Our Business
        </a>
      </li>
      <li class="listitem">
        <a href="#slot-clients" class="navlist-link">
          <i class="user icon"></i>Clients
        </a>
      </li>
      <li class="listitem">
        <a href="#slot-contact" class="navlist-link">
          <i class="mail outline icon"></i>Get In Touch
        </a>
      </li>
    </ul>
  </div>

  <!-- MOBILE -->
  <div class="mobile-only">
    <a id="gsm-menu-trigger" class="gsm-menu-trigger">
      <i class="sidebar big icon"></i>
    </a>
    <ul id="gsm-menu" class="gsm-menu">
      <li class="listitem">
        <a href="#slot-founders" class="navlist-link">
          <i class="dashboard icon"></i>Founders
        </a>
      </li>
      <li class="listitem">
        <a href="#slot-business" class="navlist-link">
          <i class="suitcase icon"></i>Our Business
        </a>
      </li>
      <li class="listitem">
        <a href="#slot-clients" class="navlist-link">
          <i class="user icon"></i>Clients
        </a>
      </li>
      <li class="listitem">
        <a href="#slot-contact" class="navlist-link">
          <i class="mail outline icon"></i>Get In Touch
        </a>
      </li>
    </ul>
    <a class="guild" href="#slot-about">
      GUILD
    </a>
  </div>

</header>
