<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>

    {% include athlete-header.html %}

    <div id="ath-content">
      {% if page.image_path != null %}
        <div class="ath-blur" style="background-image: url('{{ page.image_path }}')"></div>
        <div class="ath-mask"></div>
      {% endif %}

      <div class="ath-base">
        {% if page.image_path != null %}
          <img src="{{ page.image_path }}" alt="{{ page.athlete_name }}" class="profile-pic"/>
        {% else %}
          <span class="profile-pic">{{ page.custom_image }}</span>
        {% endif %}

        <h2>{{ page.athlete_name }}</h2>
        <ul class="ath-list">
          <li><strong>Country:</strong> {{ page.athlete_country }}</li>
          <li><strong>Events:</strong> {{ page.athlete_events }}</li>
          <li><strong>PR(s):</strong> {{ page.athlete_prs }}</li>
          <li><strong>Date of Birth:</strong> {{ page.athlete_dob }}</li>
          <li><strong>Agent:</strong> {{ page.athlete_agent }}</li>
        </ul>
      </div>
    </div>

    <div class="gsm-ath">
      {{ content }}
    </div>

    {% include footer.html %}

    <script src="/js/dist/global.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71087301-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>

</html>
